section.cart {
    grid-area: shopping;
    height: 100%;
    background-color: white;
    padding: 3%;
    border-radius: 20px;
    h1 {
        text-align: center;
    }
    .cartContainer {
        position: relative;
        height: calc(100% - 10%);
    }
}

table.shoppingCart {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

table.shoppingCart th, td {
    border-bottom: 1px solid #F3B7AD;
    text-align: center;
    padding: 0.8rem;
}

table.shoppingCart thead, tbody, tr {
    display: table-row;
}

table tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.2fr;
}

.quantityColumn {
    display: flex;
    justify-content: space-around;
}

table.resume {
    position: sticky;
    width: 100%;
    top: 100%;
    tr, td {
        border: none;
    }
}

button {
    height: 24px;
    width: 24px;
    background-color: #F3B7AD;
    border: none;
    filter: drop-shadow(1px 1px 2px #000);
}