section.products {
    grid-area: products;
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .productsContainer {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-around;
    .productCard {
        height: 300px;
        background-color: #e48082;
        width: 250px;
        border-radius: 20px;
        display: grid;
        grid-template-rows: 70% 20% 10%;
        align-items: center;
        justify-items: center;
        border: 2px solid black;
        position: relative;
        .circle {
            background-color: white;
            height: 90%;
            width: 80%;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            border: 2px solid black;
            img {
                max-width: 100%;
                max-height: 100%;
                margin: auto;
            }
        }
        .currencyContainer{
            display: grid;
            width: 100%;
            grid-template-columns: 50% 50%;
        }
    .cartBtt {
        position: absolute;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        top: 2%; /* Ajusta para centrar verticalmente */
        right: 8%; /* Posiciona la imagen en la derecha */
        z-index: 10; /* Asegura que la imagen esté al frente */
        img {
            height: 25px;
            position: relative;
            top: 10%; /* Ajusta para centrar verticalmente */
            right: 5%; /* Posiciona la imagen en la derecha */
        }
    }
    }
}
}