.productCard {
    height: 300px;
    background-color: #e48082;
    width: 250px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 70% 20% 10%;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
    .circle {
        background-color: white;
        height: 90%;
        width: 80%;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }
    .currencyContainer{
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        .currency{
            display: flex;
            justify-content: center;
            font-weight: bolder;
            gap: 5px;
        }
    }
}