<div class="productsContainer">
    @for (product of products; track product.id) {
        <div class="productCard">
            <div class="circle">
                <img [src] = "product.img" [alt] = "product.name" />
            </div>
            <h2>{{product.name | titlecase }}</h2>
            <div class="currencyContainer">
                <div class="currency">
                    <img src="../../assets/img/arg.png"/>
                    <p>{{product.price | currency }}</p>
                </div>
                <div class="currency">
                    <img src="../../assets/img/US.png"/>
                    <p>{{product.price | currency }}</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart mini"><path stroke="black" d="M0 0h24v24H0z" fill="white"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
        </div>
    }
</div>