<section class="cart">
    <h1>Shopping Cart</h1>
    <div class="cartContainer">
        <table class="shoppingCart">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio Por Kilo</th>
                    <th>Cantidad(kg)</th>
                </tr>
            </thead>
            <tbody>
                @for (product of shoppingCart; track product.id) {
                    <tr>
                        <td>{{product.name | titlecase}}</td>
                        <td>{{product.price}}</td>
                        <td class="quantityColumn">
                            <button (click)="modifyQuantity(1)">+</button>
                            {{product.quantity}}
                            <button (click)="modifyQuantity(-1)">-</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Resumen final:</td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<!--en el theader que vayan los nombres de las columnas y en el footer el resumen final-->