<section class="aboutUs">
    <div class="buttons">
        <button id="usInfo-btn">
            Get to know us
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="#F3B7AD"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-heart"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"/>
            </svg>
        </button>
        <button id="potatoeProperties-btn">
            Nutritional info
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="#9DBDBA"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                <path d="M12 9h.01" />
                <path d="M11 12h1v4h1" />
            </svg>
        </button>
    </div>
    <div class="info" id="info-us">
        <div class="textContainer" id="potatoeProperties">
            <h3>What do potatoes provide us with?</h3>
            <ul>
                <li>Carbohydrates = +energy</li>
                <li>Free of cholesterol, satured and trans fats</li>
                <li>Rich in fiber, potassium and iron</li>
                <li>Vitamin C source = healthier immune system</li>
            </ul>
        </div>
        <div class="textContainer" id="usInfo">
            <h3>Who are we?</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, voluptas officiis hic deserunt voluptatem itaque nam illo culpa ipsam non blanditiis saepe ratione! Porro recusandae consequatur quam deleniti esse ut?</p>
        </div>
    </div>
</section>
