main {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 7.8rem - 30rem);
}

form {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    background-color: #F3B7AD;
    border-radius: 2rem;
}

input {
    margin-bottom: 1rem;
}