/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playwrite IT Moderna", cursive;
}

body {
    min-height: 100vh;
    padding: 20px;
    background-color: #efeae4;
    display: grid;
    grid-template-rows: min-content auto auto;
    grid-row-gap: 20px;
}

router-outlet {
    display: none;
}