/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

html{
    font-size: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playwrite IT Moderna", cursive;
}

body {
    min-height: 100vh;
    width: 100vw;
    padding: 2vw;
    background-color: #efeae4;
    display: grid;
    grid-template-rows: fit-content auto auto;
    grid-row-gap: 2vw;
    font-size: 1.8rem;
}

router-outlet {
    display: none;
}