/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playwrite IT Moderna", cursive;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #efeae4;
    font-size: 1.6rem;
    position: relative;
    padding-bottom: calc(25rem + 2vh);  //Espacio para que entre el footer y no pise otros elementos.
}

router-outlet {
    display: none;
}